nav{
  z-index: 1;
}
.nav-middle > li,
.nav-end > li {
  list-style-type: none;
  padding-left: 1em;
}
.nav-middle > li:hover {
  color: #1e0d34;
  cursor: pointer;
}
.custom-button {
  background-color: #1e0d34;
  color: white;
  padding: 0.5em 1em;
  border-radius: 3rem;
  border: none;
}